@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Poppins:wght@400;500;600;700;800&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    list-style: none;
}

img {
    max-width: 100%;

}

a {
    text-decoration: none;
}

.containter {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #F5F5F5;
}

.menu {
    position: absolute;
    padding: 0 5%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    padding: 15px;
    background-color: #ff0000;
    color: #ffffff; 
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #000000;
    display: block;
}

.menu .navbar ul li a:hover {
    background-color: #ff0000;
    color: white;
}

#menu {
    display: none;
}

.menu-icon {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1; 
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;    
}

table {
    width: 100%;
}

th, td {
    color: #ffffff;
}

.borrar {
    background-color: #111111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

.portade {
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 80px;
    color: #ffffff;
    height: 300px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.705),
        rgba(0,0,0,0.5) 
    ), url(img/camaras.jpg);
    background-size: cover;
    background-position: center;
    align-items: center ;
    text-align: center;
    justify-content: center;
}

.portade h1 {
    display: flex;
    justify-content: center;
}

.categorias {
    font-size: 35px;
    margin-top: 60px;
    text-align: center;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
}


.ofert {
    padding: 20px 10px 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1 {
    display: flex;
    align-items: center;
    flex-basis: calc(25% - 15px);
    background-color: #F5F5F5;
    padding: 35px;
    border-radius: 15px;
}

.ofert-img {
    flex-basis: 50%;
    margin-right: 15px;
}

.ofert-txt {
    flex-basis: 50%;
    text-align: center;
}

.ofert-txt h3 {
    color: #ff0000;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}


.btn-2 {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
}


.products {
    padding: 50px 15%;
    text-align: center;
}

.sub-categorias {
    padding: 0;
    margin-right: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.sub-categorias h4 {
    color: #6e6e6e;
    width: 200px;
    padding: 0;
    margin: 10px 0;
}

.products-content {
    display: grid;
    text-align: right;
    margin-left: 100px;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.product {
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.product-txt {
    width: 100%;
    display: block;
    text-align: left;
}

.product-txt img {
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.general {
    display: flex;
    justify-content: space-between;
}

.boxprecio {
    display: flex;
}

.precio {
    margin-left: 15px;
}

.precio-0 {
    color: #A5A5A5;
}

.title-caja a{
    font-size: 18px;
    color: #333333;
}

.categori-1 a {
    font-size: 13,3px;
    color: #A5A5A5;
}


.footer {
    background-color: #1d1d1d;
    padding: 2%;

}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    flex-basis: calc(25% - 15px);
    padding: 15px;
    color: white;
}

.link p {
    font-size: 12px;
    padding-top: 20px;
}

.link h2 {
    color: #ffffff; 
    font-size: 18px;
    margin-bottom: 12px;

}

.link h3 {
    font-family: 'Oswald', sans-serif;
    color: #ffa400; 
    font-size: 15px;
    margin-top: 10px;
}

.link ul li a {
    color: white;
    font-size: 13px;
}

.micuenta {
    margin-top: 30px;
}

.unic {
    display: flex;
    align-items: center;
    font-size: 10px;
    width: 100%;
    padding-left: 40px;
    color: white;
    border-top: 0.1px solid white;
    background-color: #1d1d1d;
    height: 40px;
}

.Social-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}

.Social-links a:hover {
    background-color: #ffbb00;
}